aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.2.2
altair==3.2.0
argh==0.26.2
astor==0.8.0
async-timeout==3.0.1
attrs==19.3.0
base58==1.0.3
beautifulsoup4==4.8.1
blinker==1.4
boto3==1.10.5
botocore==1.13.5
cchardet==2.1.5
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.1
Django==2.2.3
docutils==0.15.2
elasticsearch==7.1.0
entrypoints==0.3
enum-compat==0.0.3
fake-useragent==0.1.11
future==0.18.1
geographiclib==1.50
geopy==1.20.0
googletransx==2.4.2
idna==2.8
importlib-metadata==0.23
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.1.1
kiwisolver==1.1.0
lxml==4.6.5
MarkupSafe==1.1.1
matplotlib==3.1.0
more-itertools==7.2.0
multidict==4.7.1
nltk==3.4.5
numpy==1.16.4
pandas==0.24.2
pathtools==0.1.2
Pillow==6.2.1
protobuf==3.10.0
pycares==3.1.0
pycparser==2.19
pygeohash==1.2.0
pymongo==3.9.0
pyparsing==2.4.0
pyrsistent==0.15.5
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.2
requests==2.22.0
s3transfer==0.2.1
schedule==0.6.0
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
streamlit==0.49.0
textblob==0.15.3
toml==0.10.0
toolz==0.10.0
tornado==5.1.1
twint==2.1.9
tzlocal==2.0.0
urllib3==1.25.6
validators==0.14.0
virtualenv==16.7.2
watchdog==0.9.0
wget==3.2
wordcloud==1.6.0
yarl==1.4.2
zipp==0.6.0
